{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env"]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
